.header-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
  opacity: 0;
}
.dashboard {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.connections-icon {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 68px;
  height: 16px;
  object-fit: cover;
}
.time,
.time1 {
  position: absolute;
}
.time1 {
  width: calc(100% - 2px);
  top: calc(50% - 18.5px);
  left: -4.7px;
  letter-spacing: -0.33px;
  display: inline-block;
  white-space: nowrap;
}
.time {
  top: 6px;
  left: 21px;
  width: 56px;
  height: 23px;
}
.status-bar {
  height: 44px;
  width: 375px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 2;
  font-size: var(--font-size-2xl);
}
.header {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-35xl) var(--padding-xl) var(--padding-mid);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--typography-1);
  font-family: var(--font-montserrat);
}
